.content{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.content-box{
    /* position : absolute; */
    color: white;
    width: 700px;
    height: 350px;  
    margin-top: 60%;
}
.content-box > img{
    position: relative;
    width: 700px;
    height: 350px;
    z-index: -1;
}
.content > p h3{
    position: absolute;
}